@font-face {
  font-family: 'Centra';
  src: url(./assets/font/CentraNo2-Medium.ttf);
  font-weight: 400 !important;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Acme', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Mulish', sans-serif;
  font-family: 'MuseoModerno', cursive;
  font-family: 'Comfortaa', cursive;
  border: 0;
  outline: 0;
}

body {
  background-color: #1f2641 !important;
  background-image: url(../src/assets/img/bg-texture.png);
  color: snow !important;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 2.2rem;
  font-weight: bold;
  font-family: 'Centra';
}

p {
  font-size: 1rem;
  color: #B8B8B8 !important;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #091020;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #FD4766;
}


/* ==== nav ==== */

nav {
  position: fixed;
  top: 0;
  font-weight: 400;
}

nav img {
  width: 70%;
}

nav ul .nav-link {
  color: #B8B8B8;
}

nav ul .nav-link:hover {
  color: snow;
}

nav ul .nav-link::after {
  content: "";
  height: .2rem;
  width: 0%;
  background-color: snow;
  display: block;
  margin: auto;
  transition: .6s ease-in-out;
  border-radius: 1rem;

}

nav ul .nav-link:hover::after {
  width: 100%;
}



.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem 2rem;
  font-size: 1rem;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.navbar-text button::before {
  content: "";
  background: linear-gradient(90.21deg, rgb(152, 62, 164) -5.91%, rgb(119, 72, 185) 111.58%);
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.5s ease-in-out;
}

.navbar-text button:hover {
  color: snow;
}

.navbar-text button:hover::before {
  width: 100%;
}



nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
  background-color: transparent;
}

nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}



.active {
  color: snow !important;
}



/* ==== banner ==== */

.banner {
  padding: 5rem 0;
}

.banner h1 {
  padding-bottom: 1rem;
}

.banner img {
  box-shadow: .6rem .6rem .7rem rgba(0, 0, 0, 0.3);
  border-radius: .5rem;
}

.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  margin: .5rem 0 4rem;

}

.banner button svg {
  font-size: 1.5rem;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  margin-left: 1.5rem;
}



/* ==== Practice Area ==== */

.Practice_area {
  background-color: #2e3267;
  padding: 5rem 0;
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);

}

.Practice_area h1 {
  padding-bottom: 3rem;
}

.Practice_area_laws img {
  background-color: #6c63ff;
  margin: 1rem;
  padding: 1rem;
  width: 7rem;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.Practice_area_laws:nth-child(2) img {
  background-color: #00bf8e;
}

.Practice_area_laws:nth-child(3) img {
  background-color: #f7c94b;
}

.Practice_area_laws:nth-child(4) img {
  background-color: powderblue;
}

.Practice_area_laws:nth-child(5) img {
  background-color: silver;
}

.Practice_area_laws:nth-child(6) img {
  background-color: rgb(152, 62, 164);
}

.Practice_area_laws:nth-child(7) img {
  background-color: rgb(119, 72, 185);
}

.Practice_area_laws:nth-child(8) img {
  background-color: snow;
}

.Practice_area_laws:nth-child(9) img {
  background-color: #31eae4;
}

.Practice_area_laws:nth-child(10) img {
  background-color: #f75842;
}

.Practice_area_laws img:hover {
  transform: scale(1.1);
}

.btn_common {
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem 2rem;
  font-size: 1rem;
  position: relative;
  background-color: transparent;
}

.btn_common .nav_link_btn::before {
  content: "";
  background: linear-gradient(90.21deg, rgb(152, 62, 164) -5.91%, rgb(119, 72, 185) 111.58%);
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.5s ease-in-out;
  z-index: -1;
}

.btn_common .nav_link_btn:hover::before {
  width: 100%;
}

.btn_common .nav_link_btn:hover {
  color: snow;
  z-index: 1 !important;
}





/* ==== About Us ==== */

.About_us {
  padding: 5rem 0;
}

.About_us h1 {
  padding-bottom: 1rem;
}

.about_img img {
  border-radius: 1rem;
  box-shadow: .6rem .6rem .7rem rgba(0, 0, 0, 0.3);
}

.about_imgs_div img {
  background-color: #6c63ff;
  margin: 1rem;
  padding: 1rem;
  width: 7rem;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: all .5s ease-in-out;
}


.about_imgs_div>:nth-child(2) img {
  background-color: #00bf8e !important;
}

.about_imgs_div>:nth-child(3) img {
  background-color: #f7c94b;
}

.about_imgs_div>:nth-child(4) img {
  background-color: #f75842;
}

.about_imgs_div img:hover {
  transform: scale(1.1);
}





/* ==== Attorneys ==== */

.Attorneys_section {
  background-color: #2e3267;
  padding: 5rem 0;
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);

}

.Attorneys_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem 1rem;
  position: relative !important;
}

.Attorneys_section h1 {
  padding-bottom: 5rem;
}

.card {
  background-color: #5163aa !important;
  color: snow;
  text-align: center;
  padding: 0 0 1rem;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
  transition: all .5s ease-out;
}

.card:hover {
  background-color: transparent !important;
  border: 1px solid #5163aa;

}

.card>img {
  filter: saturate(0);
  padding: 2rem;
  border-radius: 2.5rem !important;
}

.card>img:hover {
  transition: all .6s ease-out;
  filter: saturate(1);
  right: 20%;

}

.card .contact_img img {
  width: 1.3rem;
}

.card .contact_img {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  right: 0%;
  display: flex;
  flex-direction: column;
  border-radius: 1rem 0 0 1rem;
  background-color: #6c63ff;
  padding: 1.4rem 1rem;
  transition: all .2s ease;
  z-index: -1;
}

.card:hover .contact_img {
  transition: all .2s ease;
  z-index: 1;
  right: 0%;
}



/* ==== Testimonial ==== */

.testimonial_section {
  padding: 5rem 0;
}

.testimonial_section h1 {
  padding-bottom: 5rem;
  text-align: center;
}

/*  ==== Testimonial Slider ====  */

.mySwiper {
  width: 80%;
}

.swiper-slide {
  width: 200px;
  background-color: transparent;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  margin-bottom: 3rem;
}

.swiper-slide p {
  width: 100% !important;
  text-align: center;
}

.testimonial-avatar {
  width: 100px;
  height: 100px;
  border: 3px solid #1d8ba0;
  border-radius: 50%;
}

.review-by {
  color: #1d8ba0;
  font-size: 18px;
}

/*  ==== Footer ====  */

footer {
  background-color: #2e3267;
  padding: 7rem 0 4rem;
}



footer .footer_Area_1 img {
  width: 40%;
}

.footer_Area_2 {
  transform: translateX(1rem);
}

.footer_Area_2 ul .nav-link:hover,
.footer_Area_3 ul .nav-link:hover {
  text-decoration: underline;
}

.footer_Area_4 h4,
p {
  color: snow !important;
}

.footer_Area_4 .social-icon {
  display: flex;
  justify-content: space-between;
  margin-right: 5rem;
}

.footer_Area_4 .social-icon a {
  background: rgba(217, 217, 217, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.footer_Area_4 .social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.footer_Area_4 .social-icon a:hover::before {
  transform: scale(1);
}

.footer_Area_4 .social-icon a img {
  width: 43%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.footer_Area_4 .social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.footer_end {
  background-color: #2e3267;
  border-top: 1px solid #6c63ff;
  padding: 1rem 0;
  text-align: center;
  text-transform: capitalize;
}


/* ==== Contact ==== */

.contact {
  background-color: rgb(46 50 103);
  margin: 5rem 0 8rem;
  padding: 5rem 0;
  border-radius: 1rem;
}

.contact_banner {
  padding: 6rem 0;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-right: 4rem;
}

.row h1 {
  font-weight: bold !important;
}

.form-name {
  display: flex;
  width: 100% !important;

}

.form-name input {
  width: 50% !important;
}


input,
textarea {
  width: 100%;
  padding: 1rem;
  background: transparent;
  color: snow !important;
  background-color: #1f2641;
  border-radius: .5rem;
  /* border: 1px solid #B8B8B8; */
}

input [placeholder]* {
  color: snow !important;

}

.contact_btn button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem 2rem;
  font-size: 1rem;
  position: relative;
  background-color: transparent;
  transition: 0.5s ease-in-out;
  width: 100%;
}

.contact_btn button::before {
  content: "";
  background: linear-gradient(90.21deg, rgb(152, 62, 164) -5.91%, rgb(119, 72, 185) 111.58%);
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  transition: 0.5s ease-in-out;
  z-index: -1;
}

.contact_btn button:hover {
  color: snow;
  z-index: 1 !important;
}

.contact_btn button:hover::before {
  width: 100%;
}











@media screen and (max-width:600px) {

  nav ul {
    text-align: center;
    margin-top: 1rem;
  }

  .navbar-text {
    width: 70%;
    margin: auto;
    /* border: 1px solid snow; */

  }

  nav ul .nav-link::after {
    display: none;
  }

  nav ul .nav-link:hover {
    text-decoration: underline;
  }



  .Attorneys_container {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  footer {
    text-align: center;
  }

  .footer_Area_4 .social-icon {
    margin: auto;
    width: 60% !important;
  }

  .footer_Area_2 {
    transform: translateX(0);
  }




  .contact {
    margin-top: 2rem;
    padding: 0 0 5rem;
  }

  .row h1 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .contact-form {
    margin: auto 10%;
    width: 100%;
  }

  .form-name {
    margin: auto;
    flex-direction: column;
  }

  .form-name input {
    width: 100% !important;

  }

}



















/* rgb(13, 14, 25) bla
rgb(32, 5, 69) bla blu
rgb(57, 34, 107) bl blu

  rgb(119, 72, 185)
  rgb(152, 62, 164) 
  #00bfe7
  */